
OPENROUTER_API_KEY=api_key here
#OPENROUTER_MODEL=qwen/qwen3-vl-32b-instruct
#DEEPSEEK_MODEL      = "deepseek-ai/DeepSeek-V3.2:novita"
#GEMINI_LITE_MODEL   = "gemini-2.5-flash-lite"
#OPENAI_MODEL        = "gpt-4o-mini-2024-07-18"  

TOGETHER_API_KEY=api_key_here
Deepseek=api_key here
GEMINI_API_KEY=api_key_here
HF_TOKEN=api_key_here
OPENAI_API_KEY=api_key_here